.DS_Store
.AppleDouble
.LSOverride
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/misc.xml
.idea/**/parapy_assignment.iml
.env
.venv
env/
venv/
.idea/misc.xml
.idea/parapy_assignment.iml
.idea/vcs.xml
uv.lock
pyproject.toml
ENV/
**/__pycache__
**/__pycache__/*
env.bak/
venv.bak/
__pycache__/*