.DS_Store
.AppleDouble
.LSOverride
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/misc.xml
.idea/**/parapy_assignment.iml
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/